.swChar {
    width: 15%;
    height: auto;
    background: white;
    color: #000;
    margin: 25px 60px;
    padding: 5%;
    text-align: center;
    border-radius: 35px;

}

.swHeader {
    font-size: 80px;
    padding-bottom: 30px;

}

.swFeed {
    font-size: 45px;

}

.meta {
    font-size: 20px;
    padding-top: 50px;

}